<%- include('../includes/head.ejs') %>
<%- include('../includes/navbar.ejs') %>
  </head>
  <body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title-jumbotron">Welcome to ShareCeritaApp</h1>
    <p class="lead content-jumbotron">Tempat dimana kamu bisa share cerita sebebasnya!</p>
  </div>
</div>

    <div class="container">
        <div class="row mt-5">
        <% cerita.reverse() %>
          <% if(cerita.length > 0) { %>
            <% cerita.forEach(cerpen => { %>    
              <div class="col-md-4">
                  <div class="card mt-3">
                      <img src="/<%= cerpen.image %>" class="card-img-top">
                      <div class="card-body">
                      <h5><%= cerpen.title %></h5>
                        <blockquote class="blockquote">
                          <p class="mb-0">Written By</p>
                          <footer class="blockquote-footer"><cite title="Source Title"><%= cerpen.userId.username %></cite></footer>
                        </blockquote>
                        
                        <a href="/detail/<%= cerpen._id %>" class="btn btn-primary">Read More</a>
                      </div>
                    </div>
              </div>
          <%  }); %>
          <% } else { %>
            <h1>No Cerita Found</h1>
            <% } %>
        </div>
    </div>

    <%- include('../includes/end.ejs') %>
    
