<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navbar.ejs') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h1 class="title"><%= singleCerita.title %></h1>
        <blockquote class="blockquote">
          <p class="mb-0">Written By</p>
          <footer class="blockquote-footer">
            <cite title="Source Title"
              ><%= singleCerita.userId.username %></cite
            >
          </footer>
        </blockquote>
        <p class="mt-5"><%= singleCerita.cerita %></p>
      </div>
    </div>
  </div>
  

<div class="container bootstrap snippet" style="margin-top: 4rem;">
  <div class="row">
    <div class="col-md-12">
        <div class="blog-comment">
        <h3 class="text-primary"><%=singleCerita.comment.length %> Comments</h3>
                <hr/>
        <% if(singleCerita.comment.length <= 0) { %>

            <strong>Belum ada komentar di post ini</strong>

        <% } else { %>

              <% singleCerita.comment.forEach(komen => { %>

        <ul class="comments">
        <li class="clearfix">
          <strong><%= komen.komentar.username %></strong>
          <div class="post-comments">
 
              <p>
                  <%= komen.komentar.komentar %>
              </p>
          </div>
        </li>

        </li>
        </ul>
        <% }) %>

        <% }%>
      </div>
    </div>
  </div>
</div>



<div class="container komen-form">
    <form method="POST" action="/detail/<%= singleCerita._id %>">
    
    <div class="form-group">
      <h3>Masukkan Komentar</h3>
       <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    
    </div>
    <div class="form-group">
       <textarea placeholder="Masukkan Komentar..." class="form-control" name="komentar" aria-label="With textarea"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>
</div>
  <%- include('../includes/end.ejs') %>
  <script>
    $(document).ready(function () {
           $('.comments').click(function(){
              console.log('clicked comments')
           })
        });
  </script>
</body>
